<div class="container panel panel-default">	
    <div class="panel-heading row">
        <div class="col-md-12 ">
    	    <h3>Services SC</h3>
    	    <h4>Service Details</h4>
    	</div>
    </div>

  <div class="panel-body">
        <div class="row">		
            <div class="col-md-12">         
                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">				

					<tbody>
					    <tr>							
							<td class="info"><strong>Part:</strong> </td>	
							<td colspan="2">CIGUEÑAL YD</td>
						</tr>
						<tr>							
							<td class="info"><strong>Number:</strong> </td>	
							<td colspan="2">12201KH40A</td>
						</tr>
						<tr>							
							<td style="width:10%"><strong>Service:</strong> </td>	
							<td colspan="2">NO ENSAMBLA CORRECTAMENTE LA BALINA</td>
						</tr>
						<tr>							
							<td><strong>Period:</strong> </td>	
							<td style="width:45%"><strong>From:</strong> 09-04-2015</td>
							<td style="width:45%"><strong>To:</strong> 09-04-2015</td>

						</tr>
						<tr>							
							<td><strong>Hours/Pieces:</strong> </td>	
							<td colspan="2">10.5 Hours</td>
						</tr>
						<tr>							
							<td><strong>Current Cost:</strong> </td>	
							<td><strong>Price:</strong> $ 40.00 MXN</td>
							<td class="success"><strong>Total Cost:</strong> $ 420.00 MXN</td>
						</tr>
						
									                       
					</tbody>
				</table>				
	        </div>
	    </div>       				
	</div>
</div>
