.btn {
	margin-left: 25%;
	margin-right: 25%;
    width: 50%;
}
th {
	text-align: center;
}

.alert-message
{
    border-left: 5px solid;   
}

.alert-message h3
{
    margin-top: 10px;
    padding-bottom: -10px;
}
.alert-message-success
{
    background-color: #E0EAF8;
    border-color: #292C6B;
}
