<div class="container">
	<div class="row">
		<div class="col-lg-12">

            <div class="card hovercard">
                <div class="cardheader"></div>
                <div class="avatar">
                    <img alt="Client" src="src/img/sins.jpg">
                </div>

                <div class="info">
                    <div class="title">
                        User: Juanito Pecados
                    </div>
                    <div class="desc">
                        Plant: MexQ Corp.</div>
                    <div class="desc">
                        Client/Administrator
                    </div>                    
                </div>
               
            </div>

        </div>
	</div>
</div>