<div class="background"></div>
<div class="glassbackground"></div>

<div class="container">
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Sign in </strong></h3>
      </div>
  
     
    <div class="panel-body">

        <form role="form" (submit)="logInUser()">
          
          <div class="row">            
              <img style="" src="../../img/logo.png" width="250px" alt="">            
          </div>
          
          <hr style="margin-top:10px;margin-bottom:10px;" >

          <div class="alert alert-danger"  id="ErrorLogin">
            <strong>Error!</strong> Incorrect Username or Password.
          </div>

          <div class="alert alert-success" id="SuccessLogin">
            <strong>Success!</strong> Redirecting...
          </div>

          <div style="margin-bottom: 12px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="login-username" type="email"  [(ngModel)]="Usuario" class="form-control" name="email" requiered value="" placeholder="Email">       
          </div>

          <div style="margin-bottom: 12px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" [(ngModel)]="Pass" class="form-control" name="password" placeholder="Password">
          </div>               
          <div class="input-group">
            <div class="checkbox" style="margin-top: 0px;">
              <label for="ShowHide">
                <input id="ShowHide" type="checkbox"> Show Password
              </label>
            </div>
          </div>  

          <button type="submit" class="btn btn-success"  id="SignIn">Sign in</button>
          {{Usuario}}{{Pass}}
          <hr style="margin-top:10px;margin-bottom:10px;" >
  
          <div class="form-group" align="middle">
            <div style="font-size:85%">ClientApp - MexQ 2017</div>                    
          </div> 

        </form>
      </div>
    </div>
  </div>
</div>

