<nav class="navbar navbar-default container">     
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseNav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" target="_blank" href="http://www.mexq.com.mx"><img src="src/img/logo.png" width="100px"></a>
        </div>
    
        <div class="collapse navbar-collapse" id="collapseNav">
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/activeServices">Active Services</a></li>
            <li><a routerLink="/allServices">All Services</a></li>
            <li><a routerLink="/SCServices">Services SC</a></li>            
            <li>
              <a routerLink=""><button class="btn btn-danger">Log Out</button></a>
            </li>
          </ul>          
        </div>     
    </nav>

