    <nav class="navbar navbar-default container">     
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseNav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#"><img src="img/logo.png" width="100px"></a>
        </div>
    
        <div class="collapse navbar-collapse" id="collapseNav">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Active Services</a></li>
            <li><a href="#">All Services</a></li>
            <li><a href="#">Services SC</a></li>            
            <li>
              <a><button class="btn btn-danger">Log Out</button></a>
            </li>
          </ul>          
        </div>     
    </nav>

